body {
	background-color: #B0BEC5;
}

#title {
	font-size: 2.5em;
	font-weight: bold;
	color: white;
	padding: 5px;
}

#additem {
	font-size: 1.5em;
	color: green;
	position: relative;
	left: 500px;
}

#table_row {
	margin-top: 80px;
}

#todo_list_container {
	position: relative;
	top: -15px;
}